<html>
<head>
    <title>Checkout</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
<form id="payment-form">
    <div id="payment-element">

    </div>
    <button id="submit">Submit</button>
    <div id="error-message">
    </div>
</form>
<script type="application/javascript">
    const chargeAmount = "{{ amount }}";
    const organizationId = "{{ organization_id }}";
    const chargeType = "{{ charge_type }}";

    (async () => {
        const response = await fetch('/stripe/payment/secret/', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({amount: chargeAmount, currency: 'USD',
                    organization_id: organizationId,
                    charge_type: chargeType
                })
            }
        );
        const clientSecret = await response.json();
        const secretKey = clientSecret["secret_key"]
        // Render the Payment Element using the clientSecret
        const options = {
            clientSecret: secretKey,
            // Fully customizable with appearance API.
            appearance: {/*...*/},
        };

// Set up Stripe.js and Elements to use in checkout form, passing the client secret obtained in step 2
        const elements = stripe.elements(options);

// Create and mount the Payment Element
        const paymentElement = elements.create('payment');
        paymentElement.mount('#payment-element');
        const form = document.getElementById('payment-form');

        form.addEventListener('submit', async (event) => {
            event.preventDefault();

            const {error} = await stripe.confirmPayment({
                //`Elements` instance that was used to create the Payment Element
                elements,
                confirmParams: {
                    return_url: '',
                },
            });

            if (error) {
                // This point will only be reached if there is an immediate error when
                // confirming the payment. Show error to your customer (for example, payment
                // details incomplete)
                const messageContainer = document.querySelector('#error-message');
                messageContainer.textContent = error.message;
            } else {
                // Your customer will be redirected to your `return_url`. For some payment
                // methods like iDEAL, your customer will be redirected to an intermediate
                // site first to authorize the payment, then redirected to the `return_url`.
            }
        });
    })();

    const stripe = Stripe('');
</script>
</body>
</html>